html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	font-family: poppins;
}
#home {
	background:#FAB74C;
}

#servizi {
	background:#FAB74C;
}

#accoglienza {
	background:#e9454e;
	color: white;
}

#integrazione {
	background:#2dbbd3;
	color: white;
}

#slides{
  background-color: #E9454E !important;
}

.carousel{
  background-color: #E9454E !important;
}
.carousel .item{
  background-color: #E9454E;
}

.circle {
  border-radius: 100%;
  text-align: center;
  display: block;
  height: 0;
  width: 70%;
  padding: 35% 0;
  background: lightgrey;
	line-height: 0px;
	font-size: 20px;
}

#cell18  {
  font-size: 17px;
}

#cell30  {
  font-size: 30px;
}

#cell15  {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {

  #ciaooo {
    margin: 6vmin;
  }

  #cell18 {
    font-size: 15px
  }

  #cell30 {
    font-size: 20px
  }

  #cell15 {
    font-size: 13px
  }

	table td {
		font-size: 12px;
    display: block;
		border-top:0px solid black !important;
		width: 100%;
		padding: 0px 12px !important;
		line-height: 20px;
  }
	table th{
		font-size: 12px;
		line-height: 30px;
		margin-top: 20px;
    display: block;
		padding: 0px 12px !important;
		width: 100%;
  }
